/* Navigation bar and its contents */
.navbar {
    flex-direction: column;
    text-align: left;
    height: 50px;
    overflow-y: hidden;
    -webkit-transition: height 1s;
    transition: height 1s;
}

.navbar:hover {
    height: 250px;
}

.navbar:active {
    height: 250px;
}

.navbar > ul {
    display: flex;
    flex-direction: column;
}

.navbar > ul > li {
    padding: 15px;
}

.navbar > div[id='nav-mobile-btn'] > span[id='compressed'] {
    visibility: visible;
}

.navbar > div[id='nav-mobile-btn'] > span[id='open'] {
    visibility: hidden;
}

.navbar > div[id="nav-mobile-btn"] {
    display: block;
    padding: 10px;
    color: white;
    text-align: center;
    height: 15px;
}

/* Main content of the page */
.content {
    flex-direction: column;
}

/* List of posts and it contents */
.list-of-posts {
    min-height: 50px;
    height: 50px;
    max-width: 100%;
    order: 1;
    overflow-y: hidden;
    -webkit-transition: height 1s;
    transition: height 1s;
}

.list-of-posts:hover {
    height: 210px;
    overflow-y: scroll;
}

.list-of-posts:active {
    height: 210px;
    overflow-y: scroll;
}

.list-of-posts > div[id="title-of-posts"] > span[id="compressed"] {
    visibility: visible;
}

.list-of-posts > div[id="title-of-posts"] > span[id="open"] {
    visibility: hidden;
}

.list-of-posts > div[id="title-of-posts"] {
    height: 50px;
    font-size: larger;
    padding-top: 15px;
}

.list-of-posts > ul {
    width: inherit;
}

/* Blog content */
.blog-content {
    order: 3;
}

/* Search bar and other links */
.search-bar-with-links {
    height: 50px;
    max-width: 100%;
    order: 2;
}